#app {
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
}

.logo {
  inline-size: 100px;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 10px;
  max-inline-size: 400px;
}

.add input {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #6c60de;
  border-radius: 5px;
  font-size: 16px;
  inline-size: 100%;
  padding-inline-start: 20px;
}

.text-error {
  color: red;
  font-size: 14px;
}

.addEditModal {
  text-align: center;
}

.addEditButton {
  border: 1px solid #6c60de;
  background: #6c60de;
  block-size: 40px;
  color: #fff;
  cursor: pointer;
  inline-size: 196px;
}
